* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
  
:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-gray: #dce4e3;
    --text-color: #084236;
}
  
body {
    height: 100vh;
    display: flex;
    font-family: 'Poppins', 'Times New Roman', Times, serif;  
}

ul{
    list-style: none;
}

aside{
    height: 100vh;
    width: 4.875rem;
    background-color: var(--green);
    padding-top: 25px;
    transition: width ease 0.5s;
}

div#aside-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div#aside-header span#logo{
    width: 50%;
    display: flex;
    padding-left: 0.5rem;
    cursor: pointer;
}

nav{
    height: calc(100vh - 91px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nav-item-expanded{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    padding: 0 0.3rem;
    border-radius: 12px;
    line-height: 1.375;
}

.nav-item-expanded span{
    flex-grow: 1;
}

.nav-item-expanded:hover{
    background-color: var(--light-green);
    transition: background-color 0.6s;
} 

main{
    height: 100vh;
    flex-grow: 1;
    background-color: var(--body-bg-color);
    padding: 1.25rem 1.125rem;
}

main h1{
    font-weight: 500;
    font-size: 1.5625rem;
    line-height: 2.375rem;
    color: var(--text-color)
}

.icon-container {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 12px;

    margin: 0.5rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon-container:hover{
    background-color: var(--light-gray);
    transition: background-color 0.8s;
}

aside nav footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

aside nav footer i{
    width: 4.9375rem;
    height: 3.75rem;
    background: rgba(220, 228, 227, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside nav footer i:hover{
    filter: brightness(0.8);
    transition: filter 0.9s;
}

aside nav footer div#profile-container{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
    padding-left: 0.2rem;
    background-color: var(--light-green);
}

aside nav footer div#profile-container img{
    width: 2.8125rem;
    height: 2.8125rem;
    border-radius: 12px;
}

div#profile-container div#profile-data-container{
    color: var(--text-color);
    height: 3.75rem;
    fontweight: bold;
    font-size: 0.8rem;
    lineheight: 1.125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
}

div#profile-container div#profile-data-container span:first-child{
    line-height: 1.375rem;
    font-size: 1rem;
}

.expanded-aside {
    width: 15.625rem;
    transition: width ease 2s;
}

.new-margin-toggle-button{
    margin: 0.5rem 0.5rem 0.5rem auto !important;
}

.display{
    display: none !important;
}

.modified-when-expanded-icon-container-hover-bg-color:hover{
    background-color: transparent !important;
}

.set-visibility{
    visibility: visible!important;
}